<header>
  <h1>Indie Game Showcase</h1>
  <nav>
    <ul>
      <li><a href="/Home/">Home</a></li>
      <li><a href="/About/">About</a></li>
      <li><a href="/Games/">Games</a></li>
    </ul>
  </nav>
</header>