---
layout: base.njk
title: About
---

<h2>About My Favourite Games</h2>

<p>
  This site is a personal collection of some of my favourite games. Each one has made a big impact on me because of its unique creativity, storytelling, or gameplay.
</p>

<p>
  I’ve chosen these games not because they’re famous or popular (even if they're on the less niche side for indie), but because they truly stood out to me and made gaming memorable and special.
</p>

<p>
  Whether you’re a casual player or a hardcore fan, I hope you find something here that sparks your interest or reminds you of the joy of gaming.
</p>
