---
layout: base.njk
title: Games
---
<div class="featured-games">
  <h2>My Favourite Indie Games, Ranked</h2>

  <div class="game-entry">
    <div class="game-images">
      <img src="/images/terraria_img1.jpg" alt="Terraria cover">
      <img src="/images/terraria_img2.png" alt="Terraria gameplay">
    </div>
    <div class="game-info">
      <h2>3. Terraria</h2>
      <p><span style="color: #6c6e98ff;">Explore the world of Terraria and defeat countless bosses and monsters.</span></p>
      <p>Terraria is pure chaos in the most fun way possible. You start with basically nothing, and before you know it, you’re building castles, fighting giant bosses, and exploring weird biomes underground. It’s that perfect mix of adventure and creativity that never really gets old, and I've played it since I was a child. It's given me lots of memories and characters that I still use today.</p>
    </div>
  </div>

  <div class="game-entry">
    <div class="game-images">
      <img src="/images/stardew_img1.jpg" alt="Stardew Valley cover">
      <img src="/images/stardew_img2.jpg" alt="Stardew Valley gameplay">
    </div>
    <div class="game-info">
      <h2>2. Stardew Valley</h2>
      <p><span style="color: #6c6e98ff;">Escape to the countryside and build the farm of your dreams in this serene playthrough.</span></p>
      <p>Stardew Valley is the game I go to when I just need to chill. It’s slow in the best way with watering crops, talking to villagers, fishing at night- it all brings back a feeling of nostalgia to me, despite having only bought the game 3 years ago. The little routines turn into something really cozy, and I love how much personality the town has once you get to know everyone.</p>
    </div>
  </div>

  <div class="game-entry">
    <div class="game-images">
      <img src="/images/hollow_img1.jpg" alt="Hollow Knight cover">
      <img src="/images/hollow_img2.jpg" alt="Hollow Knight gameplay">
    </div>
    <div class="game-info">
      <h2>1. Hollow Knight</h2>
      <p><span style="color: #6c6e98ff;">A beautiful hand-drawn adventure through a vast underground world of bugs.</span></p>
      <p>I love how Hollow Knight pulls you into its world without saying much. The atmosphere and music build a lonely world waiting for the player to explore it. The movement feels super smooth, the art design is beautiful, and every time you think you’ve seen it all, there’s another hidden area waiting. It’s one of my favourite games of all time that I'll always take any chance to bring up.</p>
    </div>
  </div>

</div>