---
layout: base.njk
---
<div>
  <h2>Welcome!</h2>
  <p>This site is a collection of my favourite Indie games, chosen for their creativity, design, and the experiences they’ve given me.</p>
  <a href="/games/">See Games</a>

<div class="featured">
  <h2>Featured Games</h2>
  <div class="game-grid">
    <div class="game-card">
      <img src="/images/hkcover.jpg" alt="Hollow Knight cover">
      <h3>Hollow Knight</h3>
    </div>

    <div class="game-card">
      <img src="/images/terracover.jpg" alt="Terraria cover">
      <h3>Terraria</h3>
    </div>

    <div class="game-card">
      <img src="/images/svcover.jpg" alt="Stardew Valley cover">
      <h3>Stardew Valley</h3>
    </div>
  </div>
</div>

</div>